* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #666;
}
body {
  background-color: #f4f4f4;
  height: fit-content;
}
h1 {
  font-size: 40px;
  color: #000;
}
h2 {
  color: #000;
}
p {
  font-size: 18px;
  margin-bottom: 0px;
}
span {
  padding-top: 5px;
  display: inline-block;
  width: 170px;
}
input {
  width: 100%;
  height: 50px;
  padding-left: 5px;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}
textarea {
  width: 100%;
  height: 120px;
  padding-left: 5px;
  padding-top: 15px;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}
button {
  margin-top: 15px;
  padding: 15px;
  color: #ffffff;
  background-color: #f5cc5a;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.box {
  display: flex;
  width: 1110px;
  margin: 30px;
}
.box-1 {
  background-color: #ffffff;
  width: 555px;
  height: fit-content;
  padding-left: 48px;
  padding-right: 48px;
}
.box-2 {
  width: 555px;
  height: fit-content;
}

.Box1-body {
  height: 70%;
  padding-top: 15px;
}
.Box1-footer {
  margin-top: 30px;
  margin-bottom: 54px;
}
a {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 15px;
}
