* {
  box-sizing: border-box;
}
body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body main {
  background-color: #f9f9f9;
}

div > p > label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

div > p > input {
  font-size: 15px;
  width: 55%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

p {
  margin-top: 15px;
  margin-bottom: 20px;
}

.login-box {
  width: 400px;
  height: fit-content;
  padding: 0px 20px 10px 20px;
}
.login-header {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.login-foot {
  font-weight: bold;
  text-align: center;
}
p > a {
  text-decoration: none;
}
