* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 1440px;
  height: 1024px;
}
main {
  padding: 60px;
}
header {
  width: 100%;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}
.header-left {
  font-family: Newsreader, serif;
  color: #426b1f;
  font-size: 32px;
  font-weight: 500;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 32px;
}
body > header > div > a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
main > div > div > h3 {
  font-family: Newsreader, serif;
  font-weight: 400;
  font-size: 64px;
  display: inline-block;
  margin-right: 20px;
}
main > div > div > span {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 300;
}
main > div > div > a {
  margin-left: 20px;
  border: 1px solid #c2c2c2;
  padding: 15px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-family: inter;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
.main-body {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}
.main-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 4px solid #c2c2c2;
}
.item {
  background-color: #fafaf5;
  width: 395px;
  height: 444px;
  border-radius: 24px;
}
img {
  display: block;
  width: 395px;
  height: 70%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
main > div > div > div > h3 {
  padding-bottom: 8px;
  color: #000000;
  font-family: inter;
  font-size: 20px;
  font-weight: 600;
}
main > div > div > div > p {
  color: #426b1f;
  padding-bottom: 10px;
  font-family: inter;
  font-size: 20px;
  font-weight: 600;
}
main > div > div > div > span {
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  color: #6d6d6d;
}
