/* Nội dung banner */
.header-banner {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
}
.banner-left {
  text-align: left;
}
.banner-right {
  text-align: right;
}

/* Nội dung thanh điều hướng site-nav */

.site-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  position: fixed;
  z-index: 1000;
  background-color: bisque;
  box-shadow: 0 0 5px 8px rgba(0, 0, 0, 0.08);
}
.site-nav.sticky-top {
  top: 0;
}

.nav-logo {
  display: block;
}

.nav-menu {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7);
  align-items: center;
}
.nav-toggle {
  display: none;
}

/*  Phần hiển thị chỉ chuột vào menu sản phẩm */
.produc-menu-item {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.produc-menu li a {
  display: block;
  padding: 1vw 2vw;
  color: #000;
  text-decoration: none;
}
.produc-menu li a:hover {
  background-color: #f0f0f0;
}
