* {
  font-family:
    "OpenSans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  text-decoration: none;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../Fonts/Inter\,Newsreader\,Open_Sans\,Oswald/OpenSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../Fonts/Inter\,Newsreader\,Open_Sans\,Oswald/OpenSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../Fonts/Inter\,Newsreader\,Open_Sans\,Oswald/OpenSans-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}
body {
  width: 100%;
  margin: 0 auto;
}
main {
  margin: 3rem 0rem;
}
img {
  display: block;
}
li {
  list-style: none;
}
a {
  font-weight: 600;
}
a:hover {
  color: #ff0000;
}
