/*  Ảnh slider */
#main-slider {
  width: 100%;
}

#main-slider img {
  display: block;
  width: 100%;
  height: 68vh;
  object-fit: cover;
}

/*  Sản phẩm */
.list-product {
  width: 60%;
  margin: 0 auto;
}
.product-title {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
}




.introduction {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.introduction-left > button {
  margin-left: 0;
  margin-right: auto;
}
.introduction-left,
.introduction-right {
  width: 50%;
}

.introduction-left > h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
}
.introduction-left > span {
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 1.2rem;
  color: #636363;
}

.featured-news {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured-news > h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
}
.featured-news > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-news > ul > li {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.featured-news > ul > li > a {
  color: #080808;
  padding: 2rem 0rem;
  font-size: 1.6em;
}
.featured-news > ul > li > a > i {
  color: #080808;
  font-size: 1.1rem;
}
/*____________________ Ảnh slider ___________________ */

#main-slider .owl-nav {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  margin-top: 0;
  pointer-events: none;
}
#main-slider .owl-nav button.owl-prev,
#main-slider .owl-nav button.owl-next {
  position: absolute;
  pointer-events: auto;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4) !important;
  color: #ffffff !important;
  font-size: 2rem !important;
}
#main-slider .owl-nav button.owl-prev span,
#main-slider .owl-nav button.owl-next span {
  display: inline-block;
  font-size: 40px;
  line-height: 1;
}

#main-slider .owl-nav button.owl-prev span {
  transform: translateX(-2px) translateY(-2px);
}

#main-slider .owl-nav button.owl-next span {
  transform: translateX(1px) translateY(-2px);
}

#main-slider .owl-nav button.owl-prev {
  left: 3%;
}

#main-slider .owl-nav button.owl-next {
  right: 3%;
}

/* ----------------------------------------*/
