* {
  box-sizing: border-box;
}
body {
  background-color: #17bd9d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.input-group input {
  margin-top: 10px;
  font-size: 20px;
  padding: 15px 5px 15px 15px;
  width: 100%;
  padding-left: 65px;
}
.login-box {
  background-color: #ffffff;
  width: 450px;
  height: fit-content;
}
.login-header {
  text-align: center;
  background-color: #14a081;
  border: 1px solid #14a081;
  color: #ffffff;
}
.login-body {
  padding: 20px;
}
.forgot a {
  color: #14a081;
  text-decoration: none;
  font-size: 18px;
}
.forgot {
  margin-top: 10px;
}
.login-buttion {
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
  border: none;
  background-color: #14a081;
  padding: 15px 5px 15px 15px;
  width: 100%;
  cursor: pointer;
}
.signup {
  text-align: center;
  margin-top: 15px;
  font-size: 19px;
  font-weight: bold;
}
.input-group {
  position: relative;
}
.input-group i {
  font-size: 26px;
  color: #ffffff;
  background-color: #14a081;
  position: absolute;
  top: 59%;
  transform: translateY(-52%);
  padding: 15px;
}
