/* Màn hình desktop 1200 trở lên */
@media (min-width: 1200px) {
  /* Nội dung tiêu đề */
  .tieu-de {
    padding: 0.6vw 4vw;
  }

  .tieu-de-Trai,
  .tieu-de-Phai {
    font-size: 1.6vw;
  }

  /* Nội dung thanh điều hướng site-nav */
  .nut-dieu-huong {
    display: none;
  }

  .thanh-dieu-huong {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    top: 3.3vw;
    padding: 0vw 3vw;
  }

  .danhsach-thanh-dieu-huong {
    font-size: 1.3vw;
  }
  .danhsach-thanh-dieu-huong li {
    padding: 1.2vw 1.5vw;
  }
  .danh-sach-lua-chon {
    width: 18vw;
  }
  .find-text {
    font-size: 1.3vw;
    padding-left: 1vw;
    width: 10vw;
    height: 2.5vw;
    border: none;
    background-color: #c4bebe;
    border-radius: 80px;
    font-size: 1vw;
  }
}
