/* Màn hình tablet 767px trở xuống */
@media (max-width: 767px) {
  .header-banner {
    padding: 0.6vw 4vw;
  }
  .header-banner h1 {
    font-size: 1.6vw;
  }
  .site-nav {
    width: 100%;
    height: fit-content;
    top: 3.4vw;
    left: 0%;
    gap: 8vw;
  }
  .site-nav > img {
    width: 5vw;
  }
  .nav-menu {
    display: none !important;
  }

  .menu-toggle {
    display: block;
  }
  .site-nav > .nav-menu.show {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    margin: 0;
    padding: 10px 0;
    z-index: 999;
    background: #fff;
  }
  .site-nav > .nav-menu.show li {
    width: 100%;
    list-style: none;
  }
  .site-nav > .nav-menu.show li a {
    display: block;
    width: 100%;
    padding: 10px 16px;
  }
}

/* Màn hình tablet 768px trở lên */
@media (min-width: 768px) {
  .header-banner {
    padding: 0.6vw 4vw;
  }
  .header-banner h1 {
    font-size: 1.6vw;
  }
  .menu-toggle {
    display: none;
  }
  .site-nav {
    width: 100%;
    height: fit-content;
    top: 3.4vw;
    left: 0%;
    gap: 8vw;
  }
  .site-nav > img {
    width: 5vw;
  }
  .site-nav > ul {
    gap: 2vw;
  }
  .site-nav > ul > li {
    font-size: 1.1vw;
  }
}

/* Màn hình desktop 992 trở lên */
@media (min-width: 992px) {
  .header-banner {
    padding: 0.6vw 4vw;
  }

  .header-banner h1 {
    font-size: 1.6vw;
  }

  .menu-toggle {
    display: none;
  }

  .site-nav {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    top: 3.3vw;
    left: 0;
    gap: 8vw;
  }

  .site-nav > img {
    width: 5vw;
  }

  .site-nav > ul {
    gap: 2vw;
  }

  .site-nav > ul > li {
    font-size: 1.1vw;
  }
}
