.header-banner {
  padding: 0.3rem 0.6rem;
}
/* Màn hình 375px trở lên */
@media (min-width: 375px) {
  .container {
    max-width: 100%;
  }
  .header-banner {
    padding: clamp(1px, 2vw, 6px) clamp(1px, 3vw, 15px);
  }
  .header-banner h1 {
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  }
  .site-nav {    width: 100%;
    height: fit-content;
    margin: 0 auto;
    top: clamp(40px, 4vw, 60px);
    gap: 5rem;
}
  .site-nav > img {
    width: clamp(50px, 6vw, 80px);
  }
  .site-nav > ul {
    gap: clamp(10px, 2vw, 20px);
  }
  .site-nav > ul > li {
    font-size: clamp(0.8rem, 1vw, 1rem);
  }
}

/* Màn hình 975px trở lên */
@media (min-width: 975px) {
  .container {
    max-width: 100%;
  }

  .header-banner {
    padding: clamp(6px, 2vw, 15px) clamp(15px, 3vw, 50px);
  }

  .header-banner h1 {
    font-size: clamp(1.2rem, 1.5vw, 2rem);
  }

  .site-nav {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    top: clamp(60px, 4vw, 70px);
    gap: 10rem;
  }

  .site-nav > img {
    width: clamp(80px, 6vw, 120px);
  }

  .site-nav > ul {
    gap: clamp(20px, 2vw, 32px);
  }

  .site-nav > ul > li {
    font-size: clamp(1rem, 1vw, 1.3rem);
  }
}
