/* Màn hình desktop 1200 trở lên */
@media (min-width: 1200px) {
  /* Nội dung banner */
  .header-banner {
    padding: 0.6vw 4vw;
  }

  .header-banner h1 {
    font-size: 1.6vw;
  }

  /* Nội dung thanh điều hướng site-nav */
  .menu-toggle {
    display: none;
  }

  .site-nav {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    top: 3.3vw;
    padding: 0vw 3vw;
  }

  .nav-menu {
    font-size: 1.3vw;
  }
  .nav-menu li {
    padding: 1.2vw 1.5vw;
  }
  .product-menu-item {
    width: 18vw;
  }
  .find-text {
    font-size: 1.3vw;
    padding-left: 1vw;
    width: 10vw;
    height: 2.5vw;
    border: none;
    background-color: #c4bebe;
    border-radius: 80px;
    font-size: 1vw;
  }
}
